.user-card {
    border: 1px solid black;
    width: 300px;
    margin: 10px;
}

.picture-holder {
    position: relative;
}

.edit-icon {
    position: absolute;
    right: 15px;
}

.cursor-pointer {
    cursor: pointer;
}