.login-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.login-form {
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}